/*  Global Variables  */
:root {
    /* --- Colors --- */
    --white: #f7f2de;
    --whiteish: #dbd9d2;
    --coral: #fc9069;
    --blue: #78bbd2;
    --red: #ff502d;
    --pink: #ffc0fc;
    --yellow: #ffe601;
    /* Background Colors */
    --background: #bb88e6;
    --black: #161616b7;
    --header: #00000041;


    /* Typography */
    --font1: 'Yomogi', cursive;
    --font2: 'Quicksand', sans-serif;
}

/* CSS reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* FONTS */



.tittleh1 {
    font-weight: 700;
    font-size: 60px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 1px 1px 10px var(--black);
    
}

.tittleh2 {
    font-weight: 500;
    font-size: 40px;
    text-shadow: 1px 1px 10px var(--black);
    
}

.tittleh3 {
    font-weight: 500;
    font-size: 30px;
    text-shadow: 1px 1px 10px var(--black);
    
}


/* dividers */

.firstDivider {
    height: 100px;
}

.regularDivider {
    height: 300px;
}

.lastDivider {
    height: 600px;
}

/* ----- */
/* HEADER */
#header {
    width: 100%;
    height: 35px;
    background-color: var(--header);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header_menu {
    width: 80%;
    border: 2px yellow;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

    list-style-type: none;

}

.hmenu_link a {
    color: var(--white);
    font-family: var(--font2);
    text-decoration: none;

}

.hmenu_link a:hover{
    color: var(--coral);
    transition: 0.3s;;
}


.hmenu_link img {
    
    width: 25px;
    margin-right: 3em;
    text-decoration: none;

}

/* BODY */

.index_body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px var(--black);

    /* margin: 20em; */
    margin-top: 35px;
    color: var(--white);
    font-family: var(--font2);
}

/* ACORDEON */
.minitittlebox{
    color:var(--white);
    font-family: var(--font2);
}

.acordeon {
    width: 30%;
    max-width: 80em;
    /* este max width es para que en pantallas grandes tenga un limite */
    padding: 4em;
    margin: 2% auto;
    /* Vertical | Horizontal */


    /* borders */
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px var(--black);

    font-family: var(--font2);

    background-color: var(--coral);
}

.acordeon .bloque {

    margin: 0 0 2em;
    /* Arriba | Horizontal | Abajo */
    padding: 1em;

    border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px var(--black);
    background-color: var(--background);

    text-align: center;


}

.acordeon .h3 {
    margin: 0 0 0.5em;
    /* Arriba | Horizontal | Abajo */
    padding: 1em;

    border-radius: 10px;
    border: 2px solid var(--white);
    cursor: pointer;
}

.acordeon .h3:hover {

    border-radius: 10px;
    border: 2px solid var(--black);
    transition: 0.2s;
}

.acordeon .contenido {
    /* Arriba | Horizontal | Abajo */

    border-radius: 10px;
    /* border: 2px solid var(--white); */

    height: 0;
    padding: 0em;
    overflow: hidden;
    /* para ocultar esta etiqueta de contenido */

    transition: all .5s ease;

    cursor: pointer;
}

.acordeon .contenido:hover {
    color: var(--white)
}

/* el kit del acordeon esta aqui, en la clase activo */
.acordeon .bloque.active .contenido {
    height: 3em;
    margin-top: 2em;
}





/* LIGHTBOX */
/* cuadro de imagenes del lightbox */
.ul {
    width: 80%;
    background-color: var(--blue);

    padding: 4em;
    margin: 2% auto;

    border-radius: 10px;
    box-shadow: inset 1px 1px 10px var(--black);

    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    /* con responsive: */
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));

    gap: 1em;

}

.ul .li {

    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--black);

    overflow: hidden
}

.ul .li:hover .img {
    transform: scale(1.1);
}

/* 
.ul .a{
    
} */

.ul .img {
    width: 100%;


    transition: all .5s ease;
    transform: scale(1.4);
}

/* El propio lightbox */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    z-index: 2;

   

    /* en vez de display: none; */
    opacity: 0;
    transform: scale (1.1);
    transition: all .5s ease;
    pointer-events: none;
    /* el usuario no puede hacer click */


}

.lightbox.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transform: scale (1);
    pointer-events: auto;
    /* el usuario vuelve a poder hacer click */
}


.lightbox .cerrar {
    width: 4em;
    height: 4em;
    background-color: var(--blue);
    font-family: var(--font2);


    box-shadow: 1px 1px 5px var(--black);
    border-radius: 5px;
    border: none;

    padding: 5px;

    margin: 0 0 1em;
    /* margin dolo abajo */

    cursor: pointer;

    /* transition: 0.5s */

}

.lightbox .cerrar:hover {
    box-shadow: inset 1px 1px 5px var(--black);
    transition: 0.2s;
    color: var(--white);
    background-color: var(--red);

}

.lightbox .grande {
    width: 380px;
    height: 80vh;
    background-color: var(--whiteish);

    box-shadow: 1px 1px 10px var(--black);
    border-radius: 10px;
    /* transition: 0.5s */
}


/* carrousel */

.carrousel {
    width: 40%;
    max-width: 120em;
    background-color: var(--pink);

    margin: 2% auto;

    border-radius: 10px;
    box-shadow: inset 1px 1px 10px var(--black);
    padding: 2em;

    overflow: hidden;
}

.carrousel .ggrande {
    width: 200%;
    /* el doble del de arriba */
    /* background-color: skyblue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 2em;

    transition: all .5s ease;
    transform: translateX(0%)
}

.carrousel .img {
    width: calc(100% / -2em);
    /* porque son 2 imagenes las que hay ahi */
    height: 40vh;
    /* background-color: lime; */
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--black);
    /* padding: 2em; */


}

.carrousel .puntos {
    width: 100%;

    padding: 0.4em;
    margin: 1em 0 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    background-color: var(--whiteish);
    border-radius: 100%;
    margin: 1em 1em 0;
    box-shadow: 1px 1px 6px var(--black);
    cursor: pointer;
    transition: 0.4s;
}

.carrousel .punto.active {
    background-color: orange;
}



/* ecommerce titis shop */

.shop_body {
    background-color: var(--background);
    /* box-shadow: 1px 1px 10px var(--black); */
}
