/*  Global Variables  */
:root {
    /* --- Colors --- */
    --white: #f7f2de;
    --whiteish: #dbd9d2;
    --coral: #fc9069;
    --blue: #78bbd2;
    --red: #ff502d;
    --pink: #ffc0fc;
    --yellow: #ffe601;
    /* Background Colors */
    --background: #bb88e6;
    --black: #161616b7;
    --header: #00000041;


    /* Typography */
    --font1: 'Yomogi', cursive;
    --font2: 'Quicksand', sans-serif;
}

/* CSS reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font2);

}

/* FONTS */



.tittleh1 {
    font-weight: 700;
    font-size: 60px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 1px 1px 10px var(--black);

}

.tittleh2 {
    font-weight: 500;
    font-size: 40px;
    text-shadow: 1px 1px 10px var(--black);

}

.tittleh3 {
    font-weight: 500;
    font-size: 30px;
    text-shadow: 1px 1px 10px var(--black);

}


/* dividers */

.firstDivider {
    height: 100px;
}

.regularDivider {
    height: 300px;
}

.lastDivider {
    height: 600px;
}

/* ecommerce titis shop */

.shop_body,
.cart_body {
    background-color: var(--background);
    /* box-shadow: 1px 1px 10px var(--black); */
}

.ecommerce {
    display: grid;
    grid-template-columns: 1fr 4fr;


}

.ecommerce aside {
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.shop_header .shop_logo {
    width: 100px
}

.shop_menu,
.cart_menu {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.shop_menu .shop_menu_btn,
.cart_menu .cart_back_btn
 {
    background-color: transparent;
    border: 0;
    list-style-type: none;
    color: var(--white);
    /* font-size: 1rem; */
    cursor: pointer;
    font-weight: 600;
    padding: .7rem;
    text-decoration: none;

}

.shop_menu .shop_menu_btn.active{
    background-color: var(--coral);
    color: var(--white);
    width: 80%;

    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--black);

}

.cart_menu .cart_btn.active {
    background-color: var(--coral);
    color: var(--white);
   width: 100%;

    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--black);

}

/* error aqui revisar */
.shop_menu .cart_btn,
.cart_menu .cart_btn {
    margin-top: 4rem;
    text-decoration: none;
    color: var(--white)
}





.copyright {
    color: var(--whiteish);
    font-size: 0.85rem;

}

.ecommerce main {
    background-color: var(--whiteish);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    box-shadow: inset 1px 1px 10px var(--black);
    padding: 3rem;
}

.shop_tittleh2 {
    color: var(--coral);
    margin-bottom: 2rem;
}

.shop_items_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.shop_items_container .shop_item {
    width: 210px;
    box-shadow: 1px 1px 10px var(--black);
    border-radius: 1rem;
}

.shop_items_container .shop_item .shop_item_img {
    width: 100%;
    height: 210px;
    border-radius: 1rem;

}

.shop_items_container .shop_item .shop_item_info {
    background-color: var(--coral);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -1.5rem;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}

.shop_items_container .shop_item .shop_item_info .shop_item_tittle {
    font-size: 1rem;

}

.shop_items_container .shop_item .shop_item_info .shop_item_btn {
    border: 0;
    background-color: var(--white);
    color: var(--black);
    padding: 0.25rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--white);
    margin-top: 0.5rem;

}

.shop_items_container .shop_item .shop_item_info .shop_item_btn:hover {
    background-color: var(--coral);
    transition: background-color 0.2s, color 0.2s;

}